.custom-button {
    display: flex;
    align-items: center;
    background-color: transparent; /* Buton arka planı */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-button img {
    width: 32px;
  
  }
