<nav class="navbar navbar-light bg-light justify-content-between">
  <img src="assets/images/logo.png" class="m-3" />
  <div class="form-inline d-flex flex-row">
    <button class="custom-button">
      <img src="assets/images/notifications.png" alt="Custom Icon" width="32" />
    </button>
    <button class="custom-button">
      <img src="assets/images/account_icon.png" alt="Custom Icon" width="32" />
    </button>

    <button class="custom-button">
      <img src="assets/images/menu_icon.png" alt="Custom Icon" width="32" />
    </button>
  </div>
</nav>
